<body>
  <div class="game-container">
    <h1>4 Gewinnt</h1>

    @if(ai){
    <label for="customRange1" class="form-label"
      >Schwierigkeitsgrad: {{ this.computerService.maxDepth }}</label
    >
    <input
      type="range"
      class="form-range"
      [(ngModel)]="this.computerService.maxDepth"
      min="1"
      max="7"
      id="customRange1"
    />
    }

    <!-- Spielfeld -->
    <div class="board">
      @for (column of columns; track $index; let columnIndex = $index) {
      <div class="column">
        @for (row of rows; track $index; let rowIndex = $index) {
        <div
          class="cell"
          [ngClass]="setCellClass(rowIndex, columnIndex)"
          (click)="handleClick(columnIndex)"
        ></div>
        }
      </div>
      }
    </div>

    <!-- Spieler-Infos -->
    <div class="players">
      <div class="player player-1">
        <div class="player-token"></div>
        <span class="player-name">Spieler 1</span>
      </div>
      <div class="player player-2">
        @if(ai){
        <span class="player-name">Computer</span>
        } @else{
        <span class="player-name">Spieler 2</span>
        }
        <div class="player-token"></div>
      </div>
    </div>
    <div class="gameMenuButtons">
      @if(ai){
      <button (click)="startTwoPlayerGame()">2 Spieler</button>
      } @else {
      <button (click)="startAIGame()">Computer</button>
      }
      <button (click)="showLastMatchResult()">
        Ergebnis des letzten Spiels anzeigen</button
      ><button (click)="instantGameReset()">Reset</button>
    </div>
  </div>
</body>
